footer {
    line-height: 77px;
    background-color: #013264;
    .inner-container {
        .footer-menu {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            padding-left: 22px;
            ul {
                display: flex;
                grid-gap: 25px;
                li {
                    a {
                        color: white;
                        font-size: 14px;
                        font-family: sans-serif;
                    }
                }
            }
            p {
                color: white;
                font-size: 12px;
                font-family: sans-serif;
            }
        }
    }
}